---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<div class="taxonomy__index-capsules">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        {% assign loop_cat_raw = category[0] %}
        {% capture category_label %}{% include category-label.html category=loop_cat_raw %}{% endcapture %}
        {% assign category_label = category_label | strip %}
        <a href="#{{ category[0] | slugify }}" class="taxonomy__capsule" id="capsule-{{ category[0] | slugify }}">
          <span class="capsule__label">{{ category_label }}</span>
          <span class="capsule__count">{{ i }}</span>
        </a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
      {% assign loop_cat_raw = category[0] %}
      {% capture category_label %}{% include category-label.html category=loop_cat_raw %}{% endcapture %}
      {% assign category_label = category_label | strip %}
      {% capture cat_desc %}{% include category-desc.html category=loop_cat_raw %}{% endcapture %}
      {% assign cat_desc = cat_desc | strip %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category_label }}</h2>
        {% if cat_desc != "" %}
          <p class="taxonomy__section-desc">{{ cat_desc }}</p>
        {% endif %}
        <div class="entries-{{ entries_layout }}">
          {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
